.btn-custom {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	border: 2px solid #fff;
	border-radius: 0;
	/*padding: 8px 20px;*/
	@include transition(all, .5s);

	&:hover {
		color: $primary-color;
		background-color: #fff;
	}
}

.btn-primary {
	color: #fff;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: $primary-color;
	border: none;
	border-radius: 0;
}