#carousel .item {
	height: 500px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel-inner .item:nth-of-type(1) {
	background-image: url('/images/slide1.jpg');
}

.carousel-inner .item:nth-of-type(2) {
	background-image: url('/images/slide2.jpg');
}

#bootstrap-overrides .carousel-caption h1 {
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}

.carousel-caption span {
	color: $primary-color;
}

#bootstrap-overrides .carousel-caption p {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 20px;
}