label {
	font-size: 22px;
	font-weight: 300;
}

#form {
	padding: 50px 0;
}

#form h1 {
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	text-align: center;
}

.alert {
	font-size: 17px;
}

.edit {
	display: block;
	margin-top: 10px;
}

.news-post > div {
	margin-top: 10px;
	color: #333;
}

.news-post > div > a {
	font-size: 17px;
}